from launch import LaunchDescription
from launch_ros.actions import Node

def generate_launch_description():
    return LaunchDescription([
        Node(
            package='amos01',
            executable='publisher',
            output='screen'
        ),
        Node(
            package='amos01',
            executable='subscriber',
            output='screen'
        )
    ])
